  <web-app>
                <servlet>
                    <servlet-name>testeDeStruts</servlet-name>
                    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
                    <load-on-startup>1</load-on-startup>
                </servlet>

                <servlet-mapping>
                    <servlet-name>testeDeStruts</servlet-name>
                    <url-pattern>*.do</url-pattern>
                </servlet-mapping>
            </web-app>